.navbar{
	position: sticky; 
	top: 0;
	height: 75px;
	width: 100%;
	background: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo{
	float: left;
	position: relative;
	text-decoration: none;
	color: #00D100;
	font-weight: 750;
	letter-spacing: 2px;
	font-size: 2rem;	
}

.navbar ul{
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
}
.navbar ul li{
	float: right;
	list-style-type: none;
	display: inline-block;
	width: auto;
	height: inherit;
	background: black;
	transition: 0.3s linear;
}

.navbar ul li a{
	position: relative;
	display: flex;
	height: 100%;	
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	text-decoration: none;
	color: #00D100;
	font-size: 1.5rem;
	font-weight: 550;
	letter-spacing: 1px;
	transition: 0.2s linear;
}

.navbar ul li a:hover {
	background: #00A100;
	color: white;	
}


.navbar ul li .blinker {
	animation:blinking 2s infinite;
	background: inherit;
}

@keyframes blinking{
	0%{  color: white; }
	60%{ color: white; }
	100%{  color:transparent; }
}